ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #2e2c2c;
    display: flex;
    justify-content: flex-end;
}

li {
    float: left;
}

li .text {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    cursor: pointer;
}

li .text:hover {
    background-color: #0a0707;
}
